NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Akan digunakan pada tahap backend tertentu apabila benar-benar diperlukan.
SUPABASE_SECRET_KEY=

# Email provider, akan digunakan pada tahap email.
RESEND_API_KEY=
EMAIL_FROM=

# Public application URL.
NEXT_PUBLIC_APP_URL=http://localhost:3000